<tr>
  <td class="email-masthead">
    <a href="{{ getenv('DEFAULT_SITE_URL') }}" class="f-fallback email-masthead_name">
      <img src="{{ getenv('DEFAULT_SITE_URL') }}/assets/img/mail/logo.png" alt="Logo" width="280" height="60" />
    </a>
  </td>
</tr>
