<!DOCTYPE html>
<html lang="{{ craft.app.language }}" class="subpixel-antialiased relative">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  {{ craft.vite.script("/src/js/app.js", false) }}
</head>
<body>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
