<div class="fixed inset-y-0 left-0 z-20 overflow-hidden w-full h-screen opacity-0 pointer-events-none nav-panel | js-nav-panel">
  <div class="absolute inset-y-0 left-0 w-full h-screen overflow-auto bg-blue-500 text-white js-nav-panel-inner">
    <div class="min-h-screen flex justify-center items-center">
      <div class="absolute right-0 top-0 m-10">
        <button class="hamburger hamburger--slider js-hamburger hover:text-white" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>

      <div>
        <nav class="text-2xl font-bold">
          <ul>
            <li class="my-5"><a href="#">Home</a></li>
            <li class="my-5"><a href="#">Over ons</a></li>
            <li class="my-5"><a href="#">FAQ</a></li>
            <li class="my-5"><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
